*{
  color:seashell;
  font-family:"Helvetica",sans-serif;
  opacity:0.9;
}
body{
  margin-top: 0;
  margin-left:0;
  background-color: black;
  font-size: 22px;

}
/*Header*/
header{
  background-color: black;
  font-size:22px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height:69px;
  width:100%;
  position:fixed;
  border-bottom:1px solid seashell;
  z-index: 5;
  /*I made the header a fixed flex container*/
}
/*Tea Cozy logo image*/
.logo img{
  height: 50px;
  padding-left: 10px;
}
/*Menu list*/
nav .menu{
  /*Made the menu a flex container*/
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-right:10px;
}
.menu li{
  list-style: none;
  display:inline-block;
  margin-left: 15px;
}
/*Mission */
/*Made the mission div have the background image and centered the image. I also made mission be a flex container. */
#mission{
  position: relative;
  top:70px;
  display: flex;
  height:700px;
  width:1200px;
  margin: 0 auto;
  background-image:url(../images/img-mission-background.jpg);
}
.OurMission{
  background-color: black;
  align-self: center;
  text-align: center;
  width:100%;
  align-content: center;
}
.OurMission h2{
  margin-top:5px;
}
.OurMission h4{
  margin-bottom: 5px;
}
/*Featured Tea*/

#featured{/*Flex container for the first two headers for the tea of the month*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 70px auto 0 auto;
  width:1000px;
  background-color: black;
}
#featured h2{
  margin-bottom: 0;
}
/*Flex container for the different teas*/
.teas{
  width:1000px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:0 auto;
}
/*Flex items for teas*/
.cup{
  display: block;
  text-align: center;
}
.cup img{
  height:200px;
  width:300px;
  margin:0 15px;
}
.cup h4{
  margin-top: 10;
}
/*Locations*/
#locations{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  background-image:url(../images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin: 70px auto 0 auto;
}
#locations h2{
  margin:0;
}
/*Flex container for the columns*/
.columncontainer{
  display:flex;
  width:100%;
  justify-content: center;
  align-items:center;
}
.column ul{
  margin-top: 15px;
  padding: 0;
  height:300px;
  width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content:space-around;
  text-align: center;
  opacity: 1;
  background-color: black;
  text-align: center;
}
.column.eastbayside{
  margin-right: 40px;
  margin-left: 40px;
}
.column h3{
  margin: 0;
}
.column li{
  list-style: none;
  margin: 0;
}
/*Contact*/
.contact{
  width:1000px;
  height:200px;
  display:flex;
  flex-direction: column;
  align-items:  center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contact h5,.contact h2{
  margin-top:0;
}
/*footer*/
footer{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  padding-left: 20px;
  margin: 0;
}
